.text-section{
    margin-left: 20px;
}

.text1 h2{
font-size: 18px;
font-weight: 500;
margin-top: 20px;
}
.lgtext{
    display: flex;
}
.lgtext img{
    width: 18.5px;
    height: 5px;
    margin-top: 22px;
    justify-content: flex-end;
}
.text2 h2{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 29px;
    }
.text3 h3{
    font-size: 19px;
    font-weight: 400;
    margin-top: 12px;
    color: #5C5C5C;
    }