.event {
  border: 1px solid #e0e0e0;
  width: fit-content;
  border-radius: 5px;
  width: 692px;
  margin-left: 200px;
}
.text-section {
  margin-left: 20px;
}
.text1 h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.lgtext {
  display: flex;
}
.lgtext img {
  width: 18.5px;
  height: 5px;
  margin-top: 22px;
  margin-left: 30px;
}
.text2 h2 {
  font-size: 22px;
  font-weight: 600;
  width: 600px;
  margin-top: 10px;
  line-height: 29px;
}
.event-details {
  display: flex;
  margin-top: 12px;
}

.event-details h2 {
  font-size: 15px;
  font-weight: 500;
}
.date {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.date img {
  height: 16px;
  width: 15px;
  margin-right: 7px;
}

.location {
  display: flex;
  align-items: center;
}
.location img {
  width: 18px;
  height: 18px;
  margin-right: 7px;
}
.event3 {
  width: 652px;
  display: flex;
  justify-content: center;
  align-items: center;
 margin-right: 20px;
  padding: 10px 0;
  border: 0.7px solid #a9aeb8;
  border-radius: 10px;
  margin-top: 16px;
}
.event3 h2 {
  color: #e56135;
  font-size: 13px;
  font-weight: 600;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.sarthak img {
  width: 48px;
  height: 48px;
}
.text4 h2 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 292px;
}

.view img {
  width: 16.5px;
  height: 12.25px;
  margin-right: 9px;
}

.text4 h3 {
  font-size: 14px;
  font-weight: 500;
  color: #525252;
  margin-right: 40px;
}
.share {
  width: 42px;
  height: 36px;
  background-color: #edeef0;
  display: flex;
  justify-content: center;
  align-items: center;
}
