.education{
    border: 1px solid #E0E0E0;
    width: fit-content;
    border-radius: 5px;
}
.text1 h3{
    font-size: 18px;
    font-weight: 500;
}
.lgtext {
    display: flex;
  }
  .lgtext img {
    width: 18.5px;
    height: 5px;
    margin-top: 22px;
    margin-left: 30px;
  }
  .text2 h2 {
    font-size: 22px;
    font-weight: 600;
    width: 600px;
    margin-top: 10px;
    line-height: 29px;
  }



.user {
    display: flex;
  align-items: center;
  margin-top: 30px;
}
.sarthak img {
  width: 48px;
  height: 48px;
}
.text4 h2 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 292px;
}

.view img {
  width: 16.5px;
  height: 12.25px;
  margin-right: 9px;
}

.text4 h3 {
  font-size: 14px;
  font-weight: 500;
  color: #525252;
  margin-right: 40px;
}
.share{
    width: 42px;
    height: 36px;
    background-color: #EDEEF0;
    display: flex;
    justify-content: center;
    align-items: center;
}